*{
    /* background-color: black; */
    /* height: 100vw; */
    /* overflow-x: hidden; */
} 
.maincontent{
    width: 100vw;
}
 .content{
    background-color: black;
    /* height: 100vh; */
    padding-left: 55px;
    /* opacity:10%; */
    color:white;
    /* width: 100vw; */
} 
.head{
    height: 250px;
    padding:25px;
}
h3{
    color:red;
}
hr{
    /* color:red; */
    width:250px;
    border: 5 px solid #f52828;
    /* border-style:dashed; */
}
