*{
    box-sizing: border-box;
}

body{
    margin:0;
}
.nav{
    background-color: grey;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.site-title{
    font-size: 2rem;
}
.nav ul{
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   gap: 1rem; 
}
.nav li:hover{
    background-color: #777;
}
