.News{
    margin-left: 100px;
    margin-top: 100px;
    /* margin-right: 50px; */
    display : grid;
    gap:1 rem;
    /* justify-content:center; */
    grid-template-columns: repeat(3,0.4fr);
    
}
@media (min-width: 400px) {
    .News { grid-template-columns: repeat(1, 0.4fr); }
  }
@media (min-width: 600px) {
    .News { grid-template-columns: repeat(2, 0.4fr); }
  }
  @media (min-width: 1000px) {
    .News { grid-template-columns: repeat(3, 0.4fr); }
  }